autopep8==2.3.2
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
clickhouse-connect==0.8.15
idna==3.10
loguru==0.7.3
lyricsgenius==3.2.0
lz4==4.4.3
pycodestyle==2.12.1
python-dotenv==1.0.1
pytz==2025.1
redis==5.2.1
requests==2.32.3
soupsieve==2.6
spotipy==2.25.0
typing_extensions==4.12.2
urllib3==2.3.0
zstandard==0.23.0
